.qb-title {
    position: relative;
    line-height: 22px;
    padding: 20px 30px 20px 20px;
    background: #fff;
    word-break: break-word;
    overflow: hidden;
}
.qb-title i {
    position: absolute;
    top: 20px;
    right: 10px;
    color: #ccc;
    cursor: pointer;
}
.qb-content {
    overflow: hidden;
    margin-top: 10px;
}
.qb-primary {
    float: left;
    width: 736px;
}
.qb-secondary {
    float: right;
    width: 260px;
}
.qb-top {
    padding: 8px 16px 0;
    background: #fff;
    min-height: 382px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}
.qb-top > p {
    font-size: 20px;
    line-height: 35px;
    height: 35px;
    margin-bottom: 10px;
    color: #333;
}
.top-tab {
    text-align: center;
    border: 1px solid #d2d2d2;
    background: #ececec;
}
.top-tab a {
    line-height: 30px;
    float: left;
    width: 33.33%;
    height: 30px;
    margin-left: -1px;
    border-left: 1px solid #d2d2d2;
}
.top-tab a.active {
    margin-bottom: -1px;
    border-bottom: 1px solid transparent;
    background: #fff;
}
.qb-top li {
    line-height: 24px;
    overflow: hidden;
    padding: 12px 0;
    border-top: 1px dotted #bfbfbf;
}
.qb-top li:first-child {
    border-top: none;
}
.top-avatar {
    float: left;
    margin-right: 15px;
}
.top-avatar img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.top-username {
    font-size: 14px;
    font-weight: 700;
}
.top-level {
    padding-left: 8px;
    color: #666;
}
.qb-recommend {
    margin-top: 10px;
    padding: 8px 16px;
    background: #fff;
}
.qb-recommend > p {
    font-size: 20px;
    line-height: 35px;
    height: 35px;
    color: #333;
    border-bottom: 1px solid #e0e0e0;
}
.qb-recommend li {
    line-height: 24px;
    overflow: hidden;
    margin-bottom: -1px;
    padding: 5px 0;
    border-bottom: 1px dotted #bfbfbf;
}
.close-default {
    font-size: 21px;
    font-weight: 700;
}
.qb-category {
    margin-top: 15px;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}
.qb-nav li {
    float: left;
    /*width: 127px;*/
    
    margin-left: -1px;
    text-align: center;
}
.qb-nav li a {
    line-height: 43px;
    padding: 0 30px;
    display: block;
    color: #69819d;
    font-size: 16px;
}
.qb-nav li.active {
    border-color: #3479ed;
}
.qb-nav li.active a {
    color: #fff;
    background-color: #3479ed;
}
.qb-category>div {
    padding: 10px;
    background: #e0e6f1;
}
.qb-category>div ul li {
    float: left;
    margin-right: 30px;
    font-size: 14px;
}
.qb-category>div ul li a.active {
    display: block;
    color: #3479ed;
}
/******************听力******************/

.qb-listen {
    padding: 20px;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}
.listen-item {
    display: table;
    width: 100%;
    border-bottom: 1px solid #d1d1d1;
}
.listen-item>div {
    display: table-cell;
    vertical-align: middle;
    height: 120px;
    padding-left: 20px;
}
/*.listen-item>div:first-child {
    width: 80px;
}
.listen-item>div:first-child span {
    display: inline-block;
    width: 45px;
    line-height: 37px;
    color: #fff;
    background: #f26962;
    text-align: center;
}*/

.listen-item>div.last {
    text-align: right;
}
.listen-item>div.last a {
    margin-left: 10px;
}
.listen-desc p {
    font-size: 20px;
    font-weight: 700;
}
.listen-desc>div {
    font-size: 14px;
    margin: 10px 0;
}
.listen-desc>div span:first-child {
    display: inline-block;
    width: 200px;
    margin-top: 5px;
}
/******************阅读******************/

.qb-read {
    padding: 20px;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}
.qb-col-2 {
    float: left;
    width: 320px;
    padding: 10px;
    border: 1px solid #d1d1d1;
    margin-bottom: 10px;
}
.qb-col-2.even {
    float: right;
}
.qb-col-2 .qb-col-head {
    text-align: center;
    line-height: 45px;
    font-size: 20px;
    font-weight: 700;
    border-bottom: 1px solid #d1d1d1;
}
.qb-col-2 .qb-col-body {
    padding-top: 10px;
    text-indent: 20px;
    height: 92px;
    font-size: 14px;
    color: #909090;
    overflow: hidden;
}
.qb-col-2 .qb-col-foot {
    text-align: center;
    margin-top: 20px;
}
.qb-col-2 .qb-col-foot a {
    margin-left: 10px;
}
/******************写作口语******************/

.qb-write, .qb-speak {
    padding: 20px 0;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}
.qb-col-3 {
    float: left;
    width: 210px;
    padding: 10px;
    border: 1px solid #d1d1d1;
    margin: 0 0 10px 10px;
}
.qb-col-3 .qb-col-head {
    text-align: center;
    line-height: 45px;
    font-size: 20px;
    font-weight: 700;
    border-bottom: 1px solid #d1d1d1;
}
.qb-col-3 .qb-col-body div {
    margin-top: 10px;
}
.qb-col-3 .qb-col-body p {
    padding-top: 10px;
    text-indent: 20px;
    height: 92px;
    font-size: 14px;
    color: #909090;
    overflow: hidden;
}
.qb-col-3 .qb-col-foot {
    text-align: center;
    margin-top: 20px;
}
.qb-col-3 .qb-col-foot a {
    margin-left: 10px;
}
